.App {
  text-align: center;
}

header {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: blueviolet;
}

.card {
  padding: 20px;
  margin: 20px auto;
  border: 3px solid black;
  border-radius: 10px;
  width: 300px;
}

nav {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: blueviolet;
}

nav div {
  content: " ";
  padding: 30px;
  background-color: white;
  border-radius: 100%;
}
