.App {
  text-align: center;
}

nav {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: blueviolet;
}

nav div {
  content: " ";
  padding: 30px;
  background-color: white;
  border-radius: 100%;
}
